body {
  background: #000;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1 span {
  color: #555;
}

.sub {
  padding-top: 5px;
  color: #555;
}

.center {
  text-align: center;
  font-weight: 300;
}

.links {
  list-style: none;
  font-size: 12px;
  font-weight: 400;
  opacity: 1;
  width: 100%;
  max-width: 230px;
  padding: 0;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  border-top: 2px solid #111;
}
.links li {
  display: inline-block;
  padding: 0 5px;
}
.links li a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.links:hover li a {
  opacity: 0.5;
}
.links li a:hover {
  opacity: 1;
  color: red;
}

.cursor {
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 30px;
  background: red;
  -webkit-transform: translate(0, 6px);
          transform: translate(0, 6px);
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

@-webkit-keyframes blink {
  0%,
  30%,
  100% {
    opacity: 1;
  }
  50%,
  80% {
    opacity: 0;
  }
}

@keyframes blink {
  0%,
  30%,
  100% {
    opacity: 1;
  }
  50%,
  80% {
    opacity: 0;
  }
}
