{
  "env": {
    "development": {
      "presets": ["next/babel", "@emotion/babel-preset-css-prop"]
    },
    "production": {
      "presets": ["next/babel", "@emotion/babel-preset-css-prop"]
    },
    "test": {
      "presets": [
        ["next/babel", { "preset-env": { "modules": "commonjs" } }],
        "@emotion/babel-preset-css-prop"
      ]
    }
  },
  "plugins": [
    "emotion",
    "babel-plugin-macros",
    "babel-plugin-preval",
    [
      "babel-plugin-module-resolver",
      {
        "extensions": [".mdx"],
        "alias": {
          "~": "./src"
        }
      }
    ]
  ]
}
